#background-img {
    background-color: firebrick;
   /* background-image: url("../img/truskawka.jpg"); */
   /*linear-gradient(maroon, green)*/
    background-repeat: no-repeat;
    background-blend-mode: difference;
    background-position: center;
    background-size: 60%;
    background-attachment: fixed;
    color: tan;
}