.container {
    border: 1px dotted;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    align-content: stretch;
}
.flex-item {
    background-color: tomato;
    color:green;
    padding: 10px;
    border: 2px solid red;
    font-family: Arial, Helvetica, sans-serif;
    flex-basis: 27%;
}
.flex-item:nth-child(2n-1) {
    background-color: yellowgreen;
    max-height: 100px;
    overflow: scroll;
}