.container {
    border: 1px dotted;
    display: flex
}
.flex-item {
    background-color: tomato;
    color:green;
    padding: 10px;
    border: 2px solid red;
}
.flex-item:nth-child(2n-1) {
    background-color: yellowgreen;
}