body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 10px; }

header {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  padding: 20px; }

form {
  background-color: #001d8a;
  padding: 10px; }
  form input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.5em; }
  form textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.5em; }

span {
  color: #ecd407; }

footer {
  background-color: #292929;
  padding: 20px; }
  footer p {
    text-align: center; }
    footer p a {
      text-decoration: none;
      color: white; }
      footer p a:hover {
        text-decoration: none;
        color: white; }

i {
  display: inline-block; }

h3 {
  margin: 0;
  font-size: inherit; }

.grow {
  font-size: 1.5em; }

.border {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #ecd407;
  color: black;
  padding: 4px;
  margin-top: 30px; }

.space {
  margin-top: 100px;
  margin-bottom: 50px; }

.btn {
  background-color: #ecd407;
  font-weight: bolder; }
